
.estilofondo{
    background-color: black;
    padding: 200px 100px;
}

.estilo1{
    color: white;
    margin-top: -130px;
    font-size: 25px;
    margin-left: -75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.estilo2{
    color:#839A4C;
    font-size: 45px;
    margin-left: -75px;
    margin-top: -5px;
}

.estilo3{
    color: white;
    margin-top: 25px ;
    margin-left: -75px;
}

.estilo4{
    margin-top: -29px;
    color: white;
    margin-left: -40px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{
    background-color: #839A4C;
    color: white;
    margin-left: 100px;
    font-size: 1rem;
    padding: .5rem 2.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover{
    background-color: white;
    color: #839A4C;
}

.estilo5{
    margin-top: 45px;
    margin-left: 460px;
    font-size: 24px;
    color: white;
}

.estilo6{
    color:white;
    font-size: 45px;
    margin-top: 30px;
    margin-left: 385px;
}

.estilo7{
    color: white;
    margin-left: 349px;
}

.button2{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-left: 70px;
    font-size: 2rem;
    padding: 1rem 2.5rem;

    border-radius: .5rem;
    transition: all 1s ease;

}

.estilo8{
    color: #6daf5f;
    margin-top: 40px;
    margin-left: 460px;
}

.estilo9{
    color: white;
    margin-top: 10px;
    margin-left: 340px;
    font-size: 40px;
}

.estilo10{
    color: white;
    margin-top: 10px;
    margin-left: 390px;
}

.estilo11{
    color: white;
    font-size: 18px;
}

.estilo12{
    color: white;
    font-size: 18px;
}

.estilo13{
    color: white;
    font-size: 18px;
}

.cards {
    margin-top: 5rem;
}

.info {
    margin-top: 10rem;
}
.info2 {
    display: flex;
    margin: 5rem 2rem;
}

.start {
    display: flex;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.messi {
    height: 20rem;
    margin: -7rem 0 0 8rem;
    border-radius: 1rem;

    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

body{
  background: #000;
}
.box{
    margin-top: 20px;
    background: black;
    width: 60%;
    padding: 10px 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;

}


.send {
    background: #839A4C;
    color:#fff;
    outline: none;
    border:none;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    margin: 15px auto;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.send:hover{
    background: #132a13;
   
    color: #fff;
    outline: none;
}







